# macOS files
.DS_Store

# Xcode files
*.xcworkspace
*.xcuserstate
*.pbxuser
*.xccheckout
*.build
xcuserdata
build
DerivedData
frameworks

# Visual Studio files
*_i.c
*_p.c
*_i.h
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.sdf
*.opensdf
*.ncb
*.suo
*.ilk
*.pdb
*.idb
*.VC.opendb
*.VC.db
*.user
*.log
*.tlog*
x64
Debug
Release
ipch
obj

# Python files
*.pyc

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
#*.dll

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib

# Executables
*.exe
*.out
*.app
